@model CourseRegistiration.Models.Student

@{
    ViewData["Title"] = "Registration Page";
}

<form asp-action="Enrollment">
    <div>
        <label>Course</label>
        <select>
                <option>Student</option>
                <option>Course</option>
        </select>
    </div>
</form>